<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julive.push.platform.oppo">

    <!-- ********OPPO 推送 start******** -->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <!-- ********OPPO 推送 end******** -->

    <application>
        <!--OPPO start-->
        <meta-data
            android:name="OPPO_APPKEY"
            android:value="${OPPO_APPKEY}" />
        <meta-data
            android:name="OPPO_SECRET"
            android:value="${OPPO_SECRET}" />
        <!--OPPO end-->
        <activity
            android:name=".OppoDispatchActivity"
            android:theme="@style/DispatchTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${OPPO_HOST}"
                    android:path="${OPPO_PATH}"
                    android:scheme="${OPPO_SCHEME}" />
            </intent-filter>
        </activity>
    </application>

</manifest>